{% extends 'admin/base.html.twig' %}

{% block title %}Мои тикеты{% endblock %}

{% block body %}
    <h1>Тикеты</h1>

    <table class="table centered text-center table-striped">
        <thead>
            <tr>
                <th class="text-center">Артикул</th>
                <th class="text-center">Название</th>
                <th class="text-center">Статус</th>
                <th class="text-center">Фото</th>
                <th class="text-center">Создан</th>
                <th class="text-center">Выполнить до</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id +54 }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.status.name }}</td>
                <td>{% if ticket.img is null %}

                    {% else %}
                        <img src="{{ asset('uploads/tickets/' ~ ticket.img) }}" width="50px"></td>
                    {% endif %}
                <td>{{ ticket.createdAt ? ticket.createdAt|date('H:i / d.m.Y') : '' }}</td>
                <td>{{ ticket.dueDate ? ticket.dueDate|date('H:i / d.m.Y') : '' }}</td>
                <td>
                    <a title="Просмотр" class="btn btn-info" href="{{ path('ticket_show', {'id': ticket.id}) }}"><i class="material-icons">remove_red_eye</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Записи отсутствуют</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" title="Добавить" href="{{ path('ticket_new') }}"><i class="material-icons">add</i></a>
{% endblock %}
