{% extends 'admin/base.html.twig' %}

{% block title %}Профиль пользователя {{ app.user.fullname }}{% endblock %}

{% block body %}
    <h2>Личный кабинет</h2>

        <div class="col-md-12">
            <div class="col-md-6 user-statistics">
                <h3>Статистика</h3>
                <table class="table centered text-center">
                    <tbody>
                    <tr>
                        <th>Активных тикетов
                            <a title="Просмотр" class="btn btn-info" href="{{ path('ticket_index') }}"><i class="material-icons">remove_red_eye</i></a>
                        </th>
                        <td>
                            {{ openTickets }}
                        </td>
                    </tr>
                    <tr>
                        <th>Тикетов выполнено</th>
                        <td>{{ closedTickets }}</td>
                    </tr>
                    <tr>
                        <th>Тикетов создано</th>
                        <td>{{ createdTickets }}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}